* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    background: -webkit-linear-gradient(90deg, #190635 0%, rgb(82, 22, 128) 30% , #af79de 90% );
    font-family: sans-serif;
}

.score {
    color: #f6f6f6;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    h2 {
        margin-top: 30px;
        font-size: 30px;
    }

    p {
        text-align: center;
        padding: 10px;
        font-size: 25px;
    }
}

.intro button,
.match button,
.playerName button,
.gameOver button{
cursor: pointer;
white-space: nowrap;
font-size: 1rem;
padding: 0.8em 2em;
background-color: #000;
border: 3px solid rgb(225, 222, 28);
border-radius: 1em;
color: #fff;
font-weight: bolder;
transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
box-shadow: -5px 5px 0px 0px rgb(200, 0, 255);
}
.intro button:hover {
transform: translate(5px, -5px);
}
.Play_game:hover {
    transform: translate(5px, -5px);
}
.options button:hover{
    transform: translate(5px, -5px);
}
.intro {
    color: #f6f6f6;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;


    h1 {
        font-size: 60px;
        margin-bottom: 20vh;
        text-align: center;
    }

    .mt-4 {
        margin-bottom: 30px;
        margin-top: 30px;
        font-size: 40px;
    }

    li {
        font-size: 25px;
    }
}

.playerName {
    color: #f6f6f6;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease .2s;

    h1 {
        font-size: 50px;
    }

    input {
        width: 450px;
        height: 50px;
        font-size: 30px;
    }
}

.gameOver {
    color: #f6f6f6;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease 1s;

    h1 {
        font-size: 50px;
    }

    p {
        text-align: center;
        padding: 10px;
        font-size: 25px;
    }
}



.match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease 0.7s;
}

.winner {
    color: #f6f6f6;
    text-align: center;
    font-size: 50px;
}

.hands,
.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-hand {
    transform: rotateY(180deg);
}

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}

@media (max-width: 700px) {
    .intro {

        height: 50vh;

        h1 {
            font-size: 25px;
            margin-bottom: 60px;

        }

        li {
            font-size: 15px;

        }
    }

    .playerName {
        h1 {
            font-size: 30px;
        }

        input {
            width: 350px;
        }
    }

    .gameOver {
        h1 {
            font-size: 30px;
            text-align: center;
        }
    }


    .match {

        .winner {
            font-size: 30px;
            text-align: center;
        }

        button {
            width: 90px;
            height: 30px;
            font-size: 13px;
            border-radius: 2px;
        }

    }

    img {
        width: 152px;
        height: 134px;
    }

    .options {
        justify-content: center;
    }

}

@media (max-width: 450px) {
    .intro {


        h1 {
            font-size: 15px;
            margin-bottom: 40px;

        }

        li {
            font-size: 10px;

        }
    }

    .playerName {
        h1 {
            font-size: 20px;
        }

        input {
            width: 75vw;
            font-size: 7vw;
        }
    }

    .gameOver {
        h1 {
            font-size: 20px;
            text-align: center;
        }
    }


    .match {

        .winner {
            font-size: 20px;
            text-align: center;
        }

        button {
            width: 70px;
            height: 25px;
            font-size: 9px;
            border-radius: 2px;
        }
    }
}

@keyframes shakePlayer {
    0% {
        transform: rotateY(180deg) rotateZ(0deg) translateY(0px);
    }

    15% {
        transform: rotateY(180deg) rotateZ(50deg) translateY(-50px);
    }

    30% {
        transform: rotateY(180deg) rotateZ(0deg) translateY(0px);
    }

    45% {
        transform: rotateY(180deg) rotateZ(50deg) translateY(-50px);
    }

    60% {
        transform: rotateY(180deg) rotateZ(0deg) translateY(0px);
    }

    80% {
        transform: rotateY(180deg) rotateZ(50deg) translateY(-50px);
    }

    100% {
        transform: rotateY(180deg) rotateZ(0deg) translateY(0px);
    }
}

@keyframes shakeComputer {
    0% {
        transform: rotateZ(0deg) translateY(0px);
    }

    15% {
        transform: rotateZ(50deg) translateY(-50px);
    }

    30% {
        transform: rotateZ(0deg) translateY(0px);
    }

    45% {
        transform: rotateZ(50deg) translateY(-50px);
    }

    60% {
        transform: rotateZ(0deg) translateY(0px);
    }

    80% {
        transform: rotateZ(50deg) translateY(-50px);
    }

    100% {
        transform: rotateZ(0deg) translateY(0px);
    }
}

